body{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0px 60px 0px 60px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > div{
    justify-self: center;
}
header > div:hover{
    background-color: lightpink;
}
.dropdownItemList{
    display: none;
    height: 400px;
    width: 200px;
    background-color: lightpink;
    position: absolute;
    right: 0;
    z-index: 1;
}
